<section id="secondary">
    <div class="panel panel-default program-status">
        <div class="panel-body">
            <button class="btn btn-block btn-primary" ng-click="submit($event, null, false, quest)" ng-disabled="busy || (programEditFrm.$pristine && program.status != 'autoSaved' && program.status != 'preview' && !restoreId)" onfocus="blur()">Save</button>
        </div>
    </div>
</section>