<div ng-controller="ActivityController">

    <section class="intro">
        <div class="row">
            <div class="col-xs-12">
                <h1>Recent Activity</h1>
                <div class="alert in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <p class="lead">Check out the progress and accomplishments of others in your network.  We can’t wait to see your name here!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="activity">
        <div class="row">
            <div class="col-xs-12">
                <div class="qa-message-list" id="wallmessages">


                    <div class="message-item" id="m7">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="user-detail">
                                    <h5 class="handle">Melissa</h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                          <span class="qa-message-when">
                            <span class="qa-message-when-data">1min ago</span>
                          </span>
                          <span class="qa-message-who">
                            <span class="qa-message-who-data"><a href="#" class="label label-primary">like <span class="fa fa-thumbs-up"></span></a></span>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-message-content">Unlocked the Iceberg Quest</div>
                        </div></div>

                    <div class="message-item" id="m6">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="user-detail">
                                    <h5 class="handle">Lawson</h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                          <span class="qa-message-when">
                            <span class="qa-message-when-data">2mins ago</span>
                          </span>
                          <span class="qa-message-who">
                            <span class="qa-message-who-data"><a href="#" class="label label-primary">like <span class="fa fa-thumbs-up"></span></a></span>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-message-content">Earned the ASPIRE Badge</div>
                        </div></div>

                    <div class="message-item" id="m5">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="user-detail">
                                    <h5 class="handle">Erden</h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                          <span class="qa-message-when">
                            <span class="qa-message-when-data">3mins ago</span>
                          </span>
                          <span class="qa-message-who">
                            <span class="qa-message-who-data"><a href="#" class="label label-primary">like <span class="fa fa-thumbs-up"></span></a></span>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-message-content">Top point earner of the week</div>
                        </div></div>

                    <div class="message-item" id="m4">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="user-detail">
                                    <h5 class="handle">Jonas</h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                          <span class="qa-message-when">
                            <span class="qa-message-when-data">8mins ago</span>
                          </span>
                          <span class="qa-message-who">
                            <span class="qa-message-who-data"><a href="#" class="label label-primary">like <span class="fa fa-thumbs-up"></span></a></span>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-message-content">Awarded a JubiJems</div>
                        </div></div>

                    <div class="message-item" id="m3">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="user-detail">
                                    <h5 class="handle">Sam</h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                          <span class="qa-message-when">
                            <span class="qa-message-when-data">23mins ago</span>
                          </span>
                          <span class="qa-message-who">
                            <span class="qa-message-who-data"><a href="#" class="label label-primary">like <span class="fa fa-thumbs-up"></span></a></span>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-message-content">Won the reader of the week award</div>
                        </div></div>

                    <div class="message-item" id="m2">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="user-detail">
                                    <h5 class="handle">Pat</h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                          <span class="qa-message-when">
                            <span class="qa-message-when-data">46mins ago</span>
                          </span>
                          <span class="qa-message-who">
                            <span class="qa-message-who-data"><a href="#" class="label label-primary">like <span class="fa fa-thumbs-up"></span></a></span>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-message-content">Completed all starving baker ToDos</div>
                        </div></div>

                    <div class="message-item" id="m1">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="user-detail">
                                    <h5 class="handle">Melissa</h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                          <span class="qa-message-when">
                            <span class="qa-message-when-data">2hrs ago</span>
                          </span>
                          <span class="qa-message-who">
                            <span class="qa-message-who-data"><a href="#" class="label label-primary">like <span class="fa fa-thumbs-up"></span></a></span>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-message-content">Voted top contributor of the month</div>
                        </div></div>

                </div>
            </div>

        </div>
    </section>

</div>
