<div ng-controller="NetworkProfileController as c" class="network-profile"
     ng-init="c.init('<%- model.userId %>', '<%- model.slug %>', '<%- model.ret %>')" ng-cloak>

    <div ng-show="isLoading" style="position: relative;" ng-cloak  ng-style="getBackgroundFontStyle()">
        <div class="loading">
            <span us-spinner="{radius:30, width:8, length: 16, color: getBackgroundFontColor()}"></span>
            <div ng-style="getBackgroundFontStyle()">One moment please...</div>
        </div>
    </div>

    <div ng-hide="isLoading" ng-style="getBackgroundFontStyle()">
        <br><br>
        <div class="row profile-network">
         
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
             
                    <div class="form-group">
                      

                        <div class="thumbnail profile-avatar">
                            <div class="program-img">
                                <div ng-if="user.avatarUrl">
                                    <img ng-src="{{user.avatarUrl}}/100x100" alt="" />
                                </div>
                                <div ng-if="!user.avatarUrl">
                                    <img src="<%- config.web.contentUrl %>/img/empty.png" />
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="text-lg">
                            {{user.firstName}} {{user.lastName}}
                        </div>
                        <div class="backbutton" style="">
                           <!-- <div class="">
                                <button type="button" ng-if="ret == 'network'" ng-click="backToNetwork()"
                                        class="btn btn-primary">
                                    Back to Network
                                </button>
                                </div>-->
                            <div class="">
                                <button type="button" ng-click="redirectBack()"
                                        class="btn btn-primary">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
               
                

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                  
                        <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label for="email" class="control-label">Email: </label>
                            </div>

                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span>{{user.email}}</span>
                    </div>
                    <hr />
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">

                        <label for="firstName" class="control-label">First Name: </label>
                    </div>
                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span>{{user.firstName}}</span>
                    </div>
                    <hr />
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="lastName" class="control-label">Last Name: </label>
                    </div>
                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span>{{user.lastName}}</span>
                    </div>
                    <hr />
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="title" class="control-label">Job Title:</label>
                    </div>
                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span>{{user.title}}</span>
                    </div>
                    <hr />
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="title" class="control-label">My Why:</label>
                    </div>
                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span>{{user.why}}</span>
                    </div>
                    <hr />
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="title" class="control-label">My Destination:</label>
                    </div>
                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span>{{user.destination}}</span>
                    </div>
                    <hr />
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="title" class="control-label">Bonus Points available to spend:</label>
                    </div>
                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-center"
                              style="margin-top:20px">{{getCurrentBonusPointsAvailable()}}</span>
                    </div>
                    <hr />
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="title" class="control-label">Bonus Points Spent:</label>
                    </div>
                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-center" style="margin-top:20px">{{getBonusPointsBucket() - getCurrentBonusPointsAvailable()}}</span>
                    </div>
                    <hr />
                    </div>

                  
                </div>
            <div class="col-xs-5" ng-if="user.badges.length > 0">
                <div class="text-lg">
                    {{getBadgeLabel(true) + 's'}} Earned
                </div>
                <br><br>

                <div style="text-align:center;margin-left:-50px" ng-repeat="badge in user.badges" class="col-xs-5">
                    <div class="quest-badge">
                        <div class="badge-image">
                            <span><img alt="" ng-src="{{badge.badge.imageUrl + '/100x100'}}"></span>
                        </div>
                    </div>
                    {{badge.badge.title}}
                </div>
            </div>

            
            </div>
            
        </div>
    </div>

