<div ng-controller="TodoManagementController as c" ng-init="c.init('<%- model.slug %>')" ng-cloak class="todoManagement">

    <div ng-show="isLoading" style="position: relative;" ng-cloak ng-style="getBackgroundFontStyle()">
        <div class="loading">
            <span us-spinner="{radius:30, width:8, length: 16, color: getBackgroundFontColor()}"></span>
            <div ng-style="getBackgroundFontStyle()">One moment please...</div>
        </div>
    </div>

    <section ng-show="!isLoading" class="forum-topic-list" ng-show="!model.inCreate">
        <div class="row form-group">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                <label ng-style="getBackgroundFontStyle()" for="cat" class="control-label text-sm" style="display:inline;">Status: </label>
                &nbsp;&nbsp;
                <select id="cat" ng-model="ui.selectedTodoStatusFilter" class="form-control input-sm"
                        ng-options="c.status as (c.label + ' (' + countTodosByStatus(c.status) + ')') for c in todoStatuses"
                        style="display:inline;width:auto;">
                    <option value="">All ({{todosModel.userTodos.length}})</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div ng-if="todosModel.userTodos.length<=0" ng-style="getBackgroundFontStyle()" class="lead" style="margin-top:40px;">
                    No Do Activities Pending Verification
                </div>

                <div ng-if="filteredUserTodos.length<=0 && todosModel.userTodos.length > 0" ng-style="getBackgroundFontStyle()" class="lead" style="margin-top:40px;">
                    No Do Activities for selected status filter {{todosModel.userTodos.length}} total.
                </div>

                <div ng-click="clickTodo(userTodo)"
                     href="#"
                     ng-repeat="userTodo in filteredUserTodos = (todosModel.userTodos | filter: userTodosFilter)"
                     class="forum-topic clearfix">
                    <div class="forum-avatar">
                        <img ng-if="userTodo.user.avatarUrl" alt="" ng-src="{{userTodo.user.avatarUrl + '/100x100'}}">
                        <img ng-if="!userTodo.user.avatarUrl" alt="" src="/img/avatar.jpg">
                    </div>
                    <div class="forum-content">
                        <span style="float:left">
                            <h1>{{userTodo.todo.title}}</h1>
                        <span class="text-xs">By: {{userTodo.user.firstName}} {{userTodo.user.lastName}} - {{formatTime(userTodo.updatedAt)}}</span></span>
                        <span style="float:right">
                            <h1 class="status" style="float:right">{{getStatusStringForUserTodo(userTodo)}}</h1>
                        </span>
                        <!--<span ng-if="todo.quest" class="badge badge-quest">{{topic.quest.title}}</span>-->
                        <!--<span ng-if="topic.challenge" class="badge badge-challenge">{{topic.challenge.title}}</span>-->
                        <!--<span class="badge badge-category" ng-if="topic.category">{{topic.category.name}}</span>-->
                        <!--<span class="text-xs" ng-if="topic.category">By: {{topic.createdBy.firstName}} {{topic.createdBy.lastName}} - {{formatTime(topic.createdAt)}}</span>-->
                        <!--<button class="badge"-->
                        <!--ng-if="topic.createdBy.id == userId && topic.children.length == 0 && topic.categoryId != null"-->
                        <!--ng-click="deleteForumItem($event, topic, true)"-->
                        <!--onfocus="blur()" tabindex="-1" title="Delete Topic"-->
                        <!--style="background:rgba(0,0,0,0.5);border:none">-->
                        <!--<i class="fa fa-times"></i>-->
                        <!--</button>-->
                        <!--<span class="badge pull-right">{{topic.children.length}} comments</span>-->
                    </div>
                </div>

                <!--<div class="forum-topic clearfix">
                    <div class="forum-avatar">
                        <img alt="" ng-src="{{userTodo.user.avatarUrl + '/100x100'}}">
                        <img alt="" src="/img/avatar.jpg">
                    </div>
                    <div class="forum-content" style="padding-top:6px">
                        <h1>See Allison</h1>
                        <button>PENDING</button>
                        <h1 class="status">PENDING</h1>
                        <span class="text-xs">By: Dino Pheo - 6/7/2017 3:49 pm</span>
                        <span ng-if="todo.quest" class="badge badge-quest">{{topic.quest.title}}</span>
                        <span ng-if="topic.challenge" class="badge badge-challenge">{{topic.challenge.title}}</span>
                        <span class="badge badge-category" ng-if="topic.category">{{topic.category.name}}</span>
                        <span class="text-xs" ng-if="topic.category">By: {{topic.createdBy.firstName}} {{topic.createdBy.lastName}} - {{formatTime(topic.createdAt)}}</span>
                        <button class="badge"
                        ng-if="topic.createdBy.id == userId && topic.children.length == 0 && topic.categoryId != null"
                        ng-click="deleteForumItem($event, topic, true)"
                        onfocus="blur()" tabindex="-1" title="Delete Topic"
                        style="background:rgba(0,0,0,0.5);border:none">
                        <i class="fa fa-times"></i>
                        </button>
                        <span class="badge pull-right">{{topic.children.length}} comments</span>
                    </div>
                </div>-->
            </div>
        </div>
    </section>
</div>
