<!DOCTYPE html>
<html lang="en" ng-app="Jubi">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%- config.web.contentUrl %>/img/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
    <title><%- title %></title>

    <style>
        body {
            background: #14b9c0;
            font-family: 'Helvetica Neue' Arial ,sans-serif;
        }
        .lead {
            color: #ddd;
            font-size: 30px;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="lead">
    Jubi is temporarily down for scheduled maintenance<br>and will return shortly. Please be patient.
</div>
</body>
</html>