<script type="text/ng-template" id="appreciateModal.html">
    <div class="inspire-modal" ng-click="inspireClick()" ng-controller="AppreciateController">
        <div class="modal-content">
            <div class="modal-header text-center" ng-style="getHeaderCustomStyle()">
                <h3>Appreciate</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div style="float:left">Who would you like to appreciate?
                        </div>
                        <div ng-if="(program.forum.newAppreciatePoints + program.forum.newCommentPoints) > 0"  style="float:right">
                            <div>{{points.appreciate.value}} {{program.forum.newAppreciatePoints + program.forum.newCommentPoints}} Points</div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 big-tooltips">
                            <div style="float:left">
                                <label for="users" class="control-label">Share with</label>

                                <div class="radio">
                                    <label><input type="radio" ng-click="removeAllUsers()" ng-model="model.sharing"
                                                  value="all" name="optradio">All
                                        Members</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" ng-model="model.sharing" value="select"
                                                  name="optradio">Selected
                                        Members</label>
                                </div>
                            </div>
                            <button tooltip="{{helpText.value}}" class="btn btn-primary" type="button"
                                    style="float:right;width:35px">?
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 big-tooltips">
                            <div ng-if="model.sharing == 'select'">
                                <div ng-dropdown-multiselect=""
                                     extra-settings="{'enableSearch': true }"
                                     translation-texts="{'buttonDefaultText' : 'Click to add users'}"
                                     events="{ onItemSelect: userSelected, onRemoveGroup: removeGroup, onGroupSelect: groupSelected }"
                                     checkboxes="true" options="ui.networkUsers"
                                     selected-model="selectedNetworkUsers"
                                     group-by="type"></div>
                                <button type="button"
                                        class="btn btn-primary btn-block"
                                        class="row" ng-if="model.networkUsers.length > 2"
                                        ng-click="createUserGroup($event)">Save users to group
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <br/>

                <div class="form-group forum-user-list" ng-if="model.networkUsers.length>0">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"
                             ng-if="networkUser.user.id != ownNetworkUser.user.id"
                             ng-repeat="networkUser in model.networkUsers">
                            <div class="forum-user clearfix forum-user-rounded"
                                 ng-click="clickNetworkUser(topic)">
                                <div class="forum-user-avatar">
                                    <img ng-if="networkUser.user.avatarUrl" alt=""
                                         ng-src="{{networkUser.user.avatarUrl + '/100x100'}}">
                                    <img ng-if="!networkUser.user.avatarUrl" alt="" src="/img/avatar.jpg">
                                </div>
                                <div class="forum-user-content" style="margin-top:15px">
                                    <h4 class="pull-left">{{ networkUser.user.firstName + ' ' +
                                        networkUser.user.lastName
                                        }}</h4>
                                    <button class="badge pull-right"
                                            type="button"
                                            ng-click="removeNetworkUser(networkUser)"
                                            onfocus="blur()" tabindex="-1" title="Remove User"
                                            style="background:rgba(0,0,0,0.5);border:none">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': ui.val.content.req}">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">What is your message?</label>
                      <textarea style="width:100%;color:black;"
                                type="text"
                                ng-model="commentModel.comment"
                                rows="4"></textarea>

                            <div class="text-sm text-danger text-val"
                                 ng-if="ui.val.content.req">
                                Must include a message
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-4 add-media">
                                <button type="button" class="btn btn-primary btn-block"
                                        ng-click="addMedia($event)">Add Media
                                </button>
                                <div class="add-media-popup"
                                     ng-class="{'open': ui.addMedia.in}">
                                    <div ng-show="ui.addMedia.isLoading"
                                         class="loading-overlay">
                                        <div class="loading" ng-cloak>
                                            <span us-spinner="{radius:30, width:8, length: 16, color: '#b0b0b7'}"></span>

                                            <div>One moment please...</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default no-margin-bottom"
                                         ng-click="$event.stopPropagation()">
                                        <div ng-style="getHeaderCustomStyle()" class="panel-heading">Add Media</div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="btn outline btn-block" ng-file-select
                                                         ng-file-change="uploadMedia($files)">
                                                        Upload From Your Computer
                                                    </div>
                                                    <div class="text-sm text-danger"
                                                         ng-if="ui.val.addMedia.type">
                                                        Format not supported.
                                                    </div>
                                                    <div class="text-sm text-danger"
                                                         ng-if="ui.val.addMedia.size">
                                                        File too large.
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12"
                                                     ng-class="{'has-error': ui.val.addMedia.req || ui.val.addMedia.fmt}">
                                                    <div>Embed Media</div>
                                                <textarea rows="2" class="form-control" placeholder="Embed Text"
                                                          ng-click="$event.stopPropagation()"
                                                          ng-model="ui.addMedia.link"></textarea>

                                                    <div class="text-sm text-danger"
                                                         ng-if="ui.val.addMedia.req">
                                                        Video
                                                        embed
                                                        text cannot be
                                                        empty.
                                                    </div>
                                                    <div class="text-sm text-danger"
                                                         ng-if="ui.val.addMedia.fmt">
                                                        Invalid
                                                        embed
                                                        text.
                                                    </div>
                                                    <button type="button" class="btn outline btn-block"
                                                            style="margin-top:10px;"
                                                            ng-click="selectMediaLink($event,'YouTube');$event.stopPropagation()">
                                                        OK
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br ng-if="model.media"/>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default"
                             ng-repeat="media in model.media">
                            <div class="panel-heading" style="padding-left:10px;"
                                 ng-class="{'quest-error':mediaHasError(media)}">
                                <div style="height:20px;margin-top:-10px">
                                    <button class="removeMedia"
                                            ng-click="removeMedia($event,media)"
                                            onfocus="blur()" tabindex="-1" title="Remove Media">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="panel-title">
                                    <div class="content">
                                        <div class="row image-media" ng-if="media.type=='image'">
                                            <div class="col-xs-3">
                                                <a ng-href="{{media.url}}" target="_blank"><img
                                                            class="thumbnail media"
                                                            alt=""
                                                            ng-src="{{media.url}}"></a>
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="form-group">
                                                    <input type="text" ng-model="media.name"
                                                           placeholder="Media name."
                                                           title="Media name." class="form-control">
                                                </div>
                                                <textarea ng-model="media.description" placeholder="Media description."
                                                          title="Media description." class="form-control"
                                                          rows="2"></textarea>
                                            </div>
                                        </div>

                                        <div class="row video-media"
                                             ng-if="media.type=='video' && media.source=='system'">
                                            <div class="col-xs-3">
                                                <img class="thumbnail media" alt="" ng-src="{{media.url}}">

                                                <div class="video-play" ng-show="media.encodings.length > 0">
                                                    <i class="fa fa-play-circle-o" ng-click="playVideo(media)"></i>
                                                </div>
                                                <div class="loading-overlay" ng-show="media.encodings.length <= 0"
                                                     style="left:15px;right:15px;">
                                                    <div class="loading loading-sm">
                                                        <span us-spinner="{radius:9, width:4, length: 6, color: '#b0b0b7'}"></span>

                                                        <div>encoding...</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="form-group">
                                                    <input type="text" ng-model="media.name" placeholder="Name"
                                                           class="form-control">
                                                </div>
                                                <textarea ng-model="media.description" placeholder="Description"
                                                          class="form-control" rows="2"></textarea>
                                            </div>
                                        </div>

                                        <div class="row video-media"
                                             ng-if="media.type=='video' && media.source=='youtube'">
                                            <div class="col-xs-3">
                                                <img class="thumbnail media" alt="" ng-src="{{media.coverUrl}}">

                                                <div class="video-play">
                                                    <i class="fa fa-play-circle-o" ng-click="playVideo(media)"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="form-group">
                                                    <input type="text" ng-model="media.name" placeholder="Name"
                                                           class="form-control">
                                                </div>
                                                <textarea ng-model="media.description" placeholder="Description"
                                                          class="form-control" rows="2"></textarea>
                                            </div>
                                        </div>

                                        <div class="row audio-media" ng-if="media.type=='audio'">
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <img class="thumbnail media" alt=""
                                                         src="<%- config.web.contentUrl %>/img/audio.jpg">
                                                </div>
                                                <div class="audio-play">
                                                    <i class="fa"
                                                       ng-class="{'fa-play-circle-o':(!media.audio || media.audio.paused),'fa-pause':(media.audio && !media.audio.paused)}"
                                                       ng-click="playPauseAudio(media)"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-9">
                                                <input type="text" ng-model="media.name" placeholder="Name"
                                                       class="form-control">
                                                <textarea ng-model="media.description" placeholder="Description"
                                                          class="form-control" rows="2"></textarea>
                                            </div>
                                        </div>

                                        <div ng-if="media.type=='text'">
                                            <div class="form-group">
                                                <div text-angular ng-model="media.text"
                                                     ng-model="anchorTarget(media)"
                                                     ta-toolbar="taToolbar"></div>
                                            </div>
                                            <input type="text" ng-model="media.description"
                                                   placeholder="Description"
                                                   class="form-control">
                                        </div>

                                        <div ng-if="media.type=='link'">
                                            <div class="form-group"
                                                 ng-class="{'has-error':media.val.link.req || media.val.link.fmt}">
                                                <input id="link{{$index}}" type="text" ng-model="media.link"
                                                       class="form-control" placeholder="Link">

                                                <div class="text-xs text-danger" ng-if="media.val.link.req">Link
                                                    cannot
                                                    be empty.
                                                </div>
                                                <div class="text-xs text-danger" ng-if="media.val.link.fmt">URL is
                                                    not
                                                    properly formatted.
                                                </div>
                                            </div>
                                            <input type="text" ng-model="media.description"
                                                   placeholder="Description"
                                                   class="form-control">
                                        </div>
                                        <div ng-if="media.type=='resource'">
                                            <div class="resourceImage">
                                                <div style="float:left">Download &nbsp;</div>
                                                <i class="fa fa-file fa-4x text-muted"></i><br>
                                            </div>
                                            <div style="margin-left:77px" class="link-wrap">
                                                <a ng-href="{{media.url}}" target="_blank">{{media.name}}</a>
                                            </div>
                                            <input type="text" ng-model="media.description"
                                                   placeholder="Description"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" ng-if="model.networkUsers.length == 2 && getCurrentBonusPointsAvailable() > 0">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-xs text-danger text-val" ng-if="ui.val.bonusPoints.max">
                                    Only
                                    {{getCurrentBonusPointsAvailable()}} bonus points available to
                                    assign.
                                </div>
                            </div>
                        </div>
                        <input style="margin-bottom:10px;width:140px;color:black"
                               type="text" ng-model="model.bonusPoints" number-mask allow-decimal="false"
                               placeholder="award bonus points">
                    </div>
                </div>
                <button class="btn btn-primary"
                        ng-click="closeInspireModal();">
                    Close
                </button>
                <button class="btn btn-primary"
                        ng-click="submitTopic($event)">
                    Submit
                </button>
            </div>
        </div>
    </div>

    <%- partial('partials/videoPlayer') %>
    <%- partial('partials/youTubePlayer') %>
</script>
