<div ng-controller="UserEditController as ctl" ng-init="ctl.init(<%- model.userId %>)" ng-cloak>

    <div ng-show="isLoading" class="loading">
        <span us-spinner="{radius:30, width:8, length: 16, color: '#c1c1c1'}"></span>
        <div>One moment please...</div>
    </div>

    <div ng-show="!isLoading">

        <div class="row">
            <div class="col-xs-12">
                <h3 class="color-header">{{user.id > 0 ? 'Edit' : 'New'}} User</h3>
            </div>
        </div>
        <br>

        <form method="post" ng-submit="submit($event)" novalidate>

            <input type="text" style="display:none">
            <input type="password" style="display:none">

            <div class="row">
                <div class="col-xs-9">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6" ng-class="{'has-error':val.firstName.req}">
                                        <label for="firstName" class="control-label">First Name *</label>
                                        <input type="text" id="firstName" ng-model="user.firstName" class="form-control">
                                        <div class="text-sm text-danger text-val" ng-if="val.firstName.req">First Name cannot be empty.</div>
                                    </div>
                                    <div class="col-xs-6" ng-class="{'has-error':val.lastName.req}">
                                        <label for="lastName" class="control-label">Last Name *</label>
                                        <input type="text" id="lastName" ng-model="user.lastName" class="form-control">
                                        <div class="text-sm text-danger text-val" ng-if="val.lastName.req">Last Name cannot be empty.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12" ng-class="{'has-error':val.email.req || val.email.fmt || val.email.dup}">
                                        <label for="email" class="control-label">Email Address *</label>
                                        <input type="text" id="email" ng-model="user.email" class="form-control">
                                        <div class="text-sm text-danger text-val" ng-show="val.email.req">Email Address cannot be empty.</div>
                                        <div class="text-sm text-danger text-val" ng-show="val.email.fmt">Email Address is not properly formatted.</div>
                                        <div class="text-sm text-danger text-val" ng-show="val.email.dup">Email Address is already in use.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6" ng-class="{'has-error':val.password.req || val.password.len}">
                                        <label for="password" class="control-label">Password *</label>
                                        <input type="password" id="password" ng-model="user.password" class="form-control">
                                        <div class="text-sm text-danger text-val" ng-if="val.password.req">Password cannot be empty.</div>
                                        <div class="text-sm text-danger text-val" ng-if="val.password.len">Password must contain at least 6 characters.</div>
                                    </div>
                                    <div class="col-xs-6" ng-class="{'has-error':val.password.mat}">
                                        <label for="password2" class="control-label">Confirm Password *</label>
                                        <input type="password" id="password2" ng-model="user.password2" class="form-control">
                                        <div class="text-sm text-danger text-val" ng-if="val.password.mat">Passwords do not match.</div>
                                    </div>
                                </div>
                                <div class="text-sm text-muted" ng-if="user.id>0">Leave blank to keep current password.</div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="title" class="control-label">Title</label>
                                        <input type="text" id="title" ng-model="user.title" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="title" class="control-label">Why</label>
                                        <input type="text" id="title" ng-model="user.why" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="title" class="control-label">Destination</label>
                                        <input type="text" id="title" ng-model="user.destination" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6" ng-class="{'has-error':val.role.req}">
                                        <label for="role" class="control-label">Role *</label>
                                        <select id="role" ng-model="user.role" class="form-control" ng-options="r.name for r in support.roles">
                                            <option value="">-- select role --</option>
                                        </select>
                                        <div class="text-sm text-danger text-val" ng-if="val.role.req">Please select a role.</div>
                                    </div>
                                    <div class="col-xs-6" ng-class="{'has-error':val.client.req}">
                                        <label for="client" class="control-label">Client *</label>
                                        <select id="client" ng-model="user.client" class="form-control" ng-options="c.name for c in support.clients">
                                            <option value="">-- select client --</option>
                                        </select>
                                        <div class="text-sm text-danger text-val" ng-if="val.client.req">Please select a client.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xs-3">
                    <%- partial('admin/users/sidebar') %>
                </div>

            </div>


        </form>
    </div>
</div>



