<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <button type="submit" class="btn btn-primary" style="width:100%;">{{user.id > 0 ? 'Save' : 'Create'}} User</button>
            <div class="text-sm clearfix" style="padding-top:5px;">
                <a href="javascript:void(0)" ng-click="back()" class="pull-right">Cancel</a>
            </div>
        </div>

        <div ng-if="user.createdAt">
            <hr>

            <div class="text-sm">
                <div class="row">
                    <div class="col-xs-3">Created:</div>
                    <div class="col-xs-9 text-right">{{user.createdAt | date:'MMM dd, yyyy @ hh:mm a'}}</div>
                </div>
                <div class="row" style="padding-top:5px;">
                    <div class="col-xs-3">Updated:</div>
                    <div class="col-xs-9 text-right">{{user.updatedAt | date:'MMM dd, yyyy @ hh:mm a'}}</div>
                </div>
            </div>
        </div>

    </div>
</div>