<div ng-controller="CorruptTodoController">
    
    <h1> This is Corrupt Todo Page</h1>


    <input ng-model="cTodoTitle" placeholder="Enter Title of Program" style="margin-left: 25px;width: 300px;height: 30px;"/>

    <button ng-click="getTodoList()" style="height:20px; width:100px">Submit</button>





    
</div>