<script type="text/ng-template" id="videoPlayer.html">
    <div class="modal-content">
        <div class="modal-body text-small" style="padding:5px;">
            <button type="button" class="close" ng-click="cancel()" onfocus="blur()" style="position: absolute;top:5px;right:8px;z-index: 1000;">&times;</button>
            <section class="video" ng-video>
                <video vi-screen autoplay controls style="width:100%;"></video>
            </section>
        </div>
    </div>
</script>
