<script type="text/ng-template" id="youTubePlayer.html">
    <div class="modal-content video-player">
        <div class="modal-body text-small" style="padding:5px;">
            <button type="button" class="close" ng-click="cancel()" onfocus="blur()" style="position: absolute;top:5px;right:8px;z-index: 1000;">&times;</button>
            <div ng-bind-html="iframe"></div>
        </div>
    </div>
</script>
