node_modules
work
logs
tmp

/jubi-development/.vs/jubi-development.jubi/v15/.suo
jubi.web/obj/Debug/CoreCompileInputs.cache
jubi.web/obj/Debug/jubi.web2.njsproj.FileListAbsolute.txt


.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/copyright
.idea/jsLibraryMappings.xml
.idea/libraries/jubi_web_node_modules.xml
jubi.job/.idea
jubi.api/.idea
jubi.web/.idea
.idea/misc.xml
.idea/libraries/jubi_api_node_modules.xml


jubi.web/static/css/admin/main.css
jubi.web/static/css/app/main.css
jubi.web/static/css/manage/main.css
/jubi.web/jubi.web.iml

sessions.db
jubi.api/bin
jubi.api/obj
jubi.api/Debug
*.suo
jubi.api/obj/Debug
jubi.web/bin
jubi.web/obj/Debug
jubi.web/obj
/.vs
/jubi.job/bin/Microsoft.NodejsTools.WebRole.dll
/jubi.job/obj/Debug/jubi.job.njsproj.FileListAbsolute.txt
/OLD WEB/jubi.web
obj
/jubi.web/jubiapi.log
/jubi.web/node_modules-web
/node_modules-api
/jubi.web/sessions
/jubi.api/package-lock.json
/jubi.web/package-lock.json
