<div class="row page-heading panel" ng-controller="DashboardController">
    <div class="col-xs-12">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>