<div class="row" ng-controller="ResetPasswordController">
    <div class="col-xs-offset-4 col-xs-4">
		<br><br>
		<%- flash() %>

        <div class="panel panel-default">
            <div class="panel-body">
                <form action="" class="col-md-12" method="post" novalidate ng-submit="submit($event)">

              		<div class="login">
                        <div class="form-group">
                            <div class="text-lg">Reset password?</div>
                            Enter your new password in the field below.
                        </div>
                        <br>

                        <div class="form-group" ng-class="{'has-error':val.pass.req || val.pass.len}">
                            <label for="pass" class="control-label">Password:</label>
                            <input type="password" name="password" id="pass" class="form-control" ng-model="model.password" />
                            <div class="text-sm text-danger" ng-if="val.pass.req">Password cannot be empty.</div>
                            <div class="text-sm text-danger" ng-if="val.pass.len">Password must be at least 6 characters long.</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':val.pass2.mat}">
                            <label for="pass2" class="control-label">Confirm Password:</label>
                            <input type="password" id="pass2" class="form-control" ng-model="model.password2" />
                            <div class="text-sm text-danger" ng-if="val.pass2.mat">Passwords do not match.</div>
                        </div>
                        <br>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>

                        <br>
                        <div class="text-center">
                            <a href="/login">Back to Login</a>
                        </div>
                    </div>
				</form>	
			</div>
        </div>
	</div>
</div>
