<ul dnd-list="question.workAnswers.poll.answers"
    dnd-drop="answerDrop(event, index, item, external, type, 'poll', question)"
    dnd-allowed-types="['pollAnswer']">
    <li ng-repeat="answer in question.workAnswers.poll.answers"
        dnd-type="'pollAnswer'"
        dnd-draggable="answer"
        dnd-moved="question.workAnswers.poll.answers.splice($index, 1)"
        dnd-selected="question.workAnswers.poll.selectedAnswer=answer"
        dnd-effect-allowed="move"
        dnd-disable-if="!question.workAnswers.poll.canDrag || !canEditEntity(quest, program)"
        ng-class="{'selected':question.workAnswers.poll.selectedAnswer===answer}">

        <div class="panel-group accordion">
            <div class="panel panel-default" ng-class="{'quest-error':answer.hasError}">
                <div class="panel-heading" style="padding-left:10px;">
                    <div class="panel-title" ng-class="{'has-error':answer.val.answer.req}">
                        <div class="text-muted handle"
                             ng-mousedown="canEditEntity(quest, program) && answerDragHandleDown($event,question,answer,'poll')"
                             ng-mouseup="canEditEntity(quest, program) && answerDragHandleUp($event,question,answer,'poll')">
                            <span ng-style="{ color: getEntityHandleColor(quest, program) }"
                                  style="margin-left:4px"
                                  class="fa fa-ellipsis-v"></span>
                        </div>
                        <div class="content">
                            <input type="text" class="form-control" placeholder="Answer" ng-model="answer.answer">
                            <div class="text-xs">
                                <a href="#" ng-click="!quest.publishedAt && pollRemoveAnswer($event,answer,$index,question)">Remove Answer</a>
                            </div>
                            <div class="text-sm text-danger" ng-if="answer.val.answer.req">Answer cannot be empty.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<button ng-disabled="!canEditEntity(quest, program)" type="button" class="btn btn-primary outline btn-block" ng-click="addAnswer('poll',question)">
    <span class="icon fa fa-plus" title="Add New Answer"></span> Add New Answer
</button>
