<ul dnd-list="question.workAnswers.multiSelect.answers"
    dnd-drop="answerDrop(event, index, item, external, type, 'multiSelect', question)"
    dnd-allowed-types="['multiSelectAnswer']">
    <li ng-repeat="answer in question.workAnswers.multiSelect.answers"
        dnd-type="'multiSelectAnswer'"
        dnd-draggable="answer"
        dnd-moved="question.workAnswers.multiSelect.answers.splice($index, 1)"
        dnd-selected="question.workAnswers.multiSelect.selectedAnswer=answer"
        dnd-effect-allowed="move"
        dnd-disable-if="!question.workAnswers.multiSelect.canDrag || !canEditEntity(quest, program)"
        ng-class="{'selected':question.workAnswers.multiSelect.selectedAnswer===answer}">

        <div class="panel-group accordion">
            <div class="panel panel-default" ng-class="{'quest-error':answer.hasError}">
                <div class="panel-heading" style="padding-left:10px;">
                    <div class="panel-title" ng-class="{'has-error':answer.val.answer.req}">
                        <div class="text-muted handle"
                             ng-mousedown="canEditEntity(quest, program) && answerDragHandleDown($event,question,answer,'multiSelect')"
                             ng-mouseup="canEditEntity(quest, program) && answerDragHandleUp($event,question,answer,'multiSelect')">
                            <span ng-style="{ color: getEntityHandleColor(quest, program) }"
                                  style="margin-left:4px"
                                  class="fa fa-ellipsis-v">
                            </span>
                        </div>
                        <div class="content">
                            <input type="text" class="form-control" placeholder="Answer" ng-model="answer.answer">
                            <div class="text-xs">
                                <a href="#"
                                   ng-click="canEditEntity(quest, program) && multipleChoiceSetCorrect($event,answer,question)"><i
                                            class="fa fa-check-circle-o"
                                            ng-class="{'text-muted':!answer.correct,'text-success':answer.correct}"></i>
                                    Correct Answer</a>
                                |
                                <a href="#"
                                   ng-click="canEditEntity(quest, program) && multipleChoiceRemoveAnswer($event,answer,$index,question)">Remove
                                    Answer</a>
                            </div>
                            <div class="text-sm text-danger" ng-if="answer.val.answer.req">Answer cannot be empty.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<div class="text-sm text-danger" ng-if="question.workAnswers.multiSelect.val.correct.req" style="padding-bottom:10px;">
    Please select at least one correct answer.
</div>
<button ng-disabled="!canEditEntity(quest, program)"
        type="button"
        class="btn btn-primary outline btn-block"
        ng-click="addAnswer('multiSelect',question)">
    <span class="icon fa fa-plus" title="Add New Answer"></span> Add New Answer
</button>
